<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272802330725-4fl2uos98977b7at9sh58kg37l2ondi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272802330725-4fl2uos98977b7at9sh58kg37l2ondi8</string>
	<key>API_KEY</key>
	<string>AIzaSyAujiZb3RtGc-aaAMBwfeyYQ77T4CSq4Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>272802330725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.techdemo</string>
	<key>PROJECT_ID</key>
	<string>techdemo-test</string>
	<key>STORAGE_BUCKET</key>
	<string>techdemo-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272802330725:ios:164c9f4324b4d7e2722e8c</string>
</dict>
</plist>